@model FoodForum.Models.AdminRecipe

<div class="Header">
  <h1>Add An Admin Note To The Recipe</h1>
  <div class="HeaderLinks">
    <a asp-action="AdminPage" asp-controller="Admin">Back to Admin Page</a>  |  
    <a asp-action="Index" asp-controller="Home">Home</a>
  </div>
</div>
asp-action="AdminifyRecipe" asp-controller="Admin" asp-route-RecipeId="ViewBag.RecipeId"