<div class="Header">
  <h1>Welcome @ViewBag.User.Username to the Admin Page</h1>
  <div class="HeaderLinks">
    <a href="/NewAdminRecipe">Post A New Recipe</a>  |  
    <a href="/">Home</a>
  </div>
</div>
<table class="UserList">
  <thead>
    <tr>
      <td>UserName</td>
      <td>Actions</td>
    </tr>
  </thead>
  <tbody>
    @foreach(var user in ViewBag.Users){
      <tr>
        <td>
          <a href="/user/@user.Username">@user.Username</a>
        </td>
        <td>
          @if(user.AdminState == 1 && user.UserId != ViewBag.User.UserId){
            <a href="/UnAdminifyUser">UnAdmin User</a>
          } @if(user.AdminState == 0 && user.UserId != ViewBag.User.UserId){
            <a href="/AdminifyUser">Admin User</a>
          } @if(user.UserId != 1){
            <a href="/DeleteUser">Delete User</a>
          }
        </td>
      </tr>
    }
  </tbody>
</table>