@model FoodForum.Models.User

<div class="Wrapper">
  <div class="Header">
    <h1>Register</h1>
    <div class="HeaderLinks">
      <a asp-action="Index" asp-controller="Home">Home</a>
    </div>
  </div>
  <div class="LoginSection">
    <form asp-action="UserMaker" asp-controller="User" method="post" id="RegForm">
      <span asp-validation-for="Username" id="UsernameMsg"></span><br>
      <label asp-for="Username">Username</label><br>
      <input asp-for="Username" required id="Username" maxlength="16" minlength="2"><br>
      <span asp-validation-for="Password"></span><br>
      <label asp-for="Password">Password</label><br>
      <input asp-for="Password" required minlength="8" maxlength="32"><br>
      <span asp-validation-for="ConfirmPassword"></span><br>
      <label asp-for="ConfirmPassword">Confirm Password</label><br>
      <input asp-for="ConfirmPassword" required minlength="8" maxlength="32"><br><br>
      <input type="submit" value="Submit"><br><br>
    </form>
  </div>
  <partial name="LoginPartial"/>
</div>