@background-color: #0F0F0F;
@text-color: #0DBD00;
@text-color-light: #00EEFB;
@text-outline:-1px 0 black, 0 1px black, 1px 0 black, 0 -1px black #000; 

.centered-inline-block() {
  display: inline-block;
  margin: 0px auto;
}

.Msg() {
  max-width: 70%;
  padding: 0px;
  .centered-inline-block();
}

body {
  background-image: url('../images/FoodBG.png');
  width: 100%;
  height: 100%;
  color: @text-color;
  font-family: "Quicksand";
  padding-bottom: 10px;
}

a{
  color: @text-color-light;
  &:focus{
    border: 1px @text-color-light dotted;
  }
}

.container.body-content{
  padding: 0px 5px;
  min-width: 80%;
}

.carousel-caption p {
  font-size: 20px;
  line-height: 1.4;
}

.carousel-inner .item img[src$=".svg"] {
  width: 100%;
}

#qrCode {
  margin: 15px;
}

@media screen and (max-width: 767px) {
  .carousel-caption {
      display: none;
  }
}

input, .btn.btn-primary{
  color: black;
  max-width: 90%;
  &:focus{
    border: 1px @text-color-light dotted;
  }
}
  
  select, input[type="submit"], button, .btn.btn-primary{
    background-color: rgba(55,55,55,0.95);
    border-color: rgba(75,75,75,0.95);
    color: @text-color-light;
    height: 2em;
    padding: .25em 1em;
    margin: auto;
    vertical-align: top;
    &:focus{
      border: 1px @text-color-light dotted;
    }
  }
  
  input[type="File"]{
    color: @text-color-light;
  }
  
  #UploadPicture{
      max-width: 75%;
      margin: 0px auto; 
      padding: 0px;
  }

textarea{
  color: black;
}

.field-validation-error, .error{
  color: red;
  width: 90%;
  display: inline-block;
  padding: 0px;
}

.success{
  .centered-inline-block();
  color: lightgreen;
}

h1, h2, h3, h4, h5, .AdminNote{
  text-align: center;
  margin: 0px auto;
  a{
    text-align: center;
  }
}

h2{
  padding: 5px auto;
  margin: 0px auto 5px auto;
}

h4{
  margin: 5px auto;
  padding: 5px;
}

p{
  margin: 0px;
}

.Header{
  background-color: @background-color;
  border-radius: 4px;
  width: 100%;
  min-height: 5%;
  margin: 10px auto;
}

.HeaderLinks{
  .centered-inline-block();
  text-align: right;
  width: 100%;
  padding-right: 30px;
  
  a, p{
    display: inline;
    text-align: right;
  }
}
  
#Sorting{
  width: 100%;
  margin: -15px auto 0px auto;
  padding-top: -5px;
  
  .container.body-content{
    width: 100%;
    height: 5vh;
    margin: auto;
    padding: 0px;
  }
  
  h3{
    padding-top: 5px;
    margin: 5px;
  }
}

  .SortingTbl{
      width: 100%;
      max-height: 2vh;
      margin: 0px auto;
      padding: 0px;
  }  

.SortingBtn{
  width: 33%;
  max-height: 2vh;
  margin: -5px auto;
  padding: -5px 0px;
  border: 1px solid @text-color;
  border-top: 0px;
  text-align: center;
}

.RecipeList{
  width: 95%;
  margin: 5px auto;
  border: 1px solid black;
  background-color: @background-color;
  border-radius: 4px;
  padding: 10px 0px;
}

.RecipeListPictureBackground{
  text-align: center;
  max-width: 95%;
  min-height: 40vh;
  max-height: 70vh;
  margin: 10px auto;
}

.RecipeListPicture{
  text-align: center;
  max-width: 95%;
  min-width: 40%;
  min-height: 40vh;
  margin: 10px auto;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

  .Content{
      margin: 15px auto;
      background-color: @background-color;
      color: @text-color;
      border: 1px solid black;
      border-radius: 4px;
      padding: 10px;
  }

  .Rating, .Likes, .PostDate, .RatingForm, .LikeBtn, .Delete, .Update{
      margin: 5px auto;
  }

.Recipe{
  width: 95%;
  margin: 5px auto;
  padding: 0px 20px;
  border: 1px solid black;
  border-radius: 4px;
  background-color: @background-color;
}

#BackToTop{
  position: fixed;
  bottom: 3em;
  right: 3em;
  opacity: 0;
  display: inline-block;
  background-color: #000;
  border-radius: 4px;
  padding: 4px;

  &.visible{
    opacity: 1;
  }
}

.UserList{
  margin: 0px auto;
  width: 90%;
  
  td{
    border: solid 1px black;
    width: 50%;
    text-align: center;
    background-color: @background-color; 
  }
}
  
.AdminActions p{
  display: inline;
}

.LoginSection{
  .centered-inline-block();
  width: 100%;
  text-align: center;
  
  form{
    background-color: rgba(8, 8, 8, 0.966);
    width: 40%;
    margin: 5px auto;
    border-radius: 4px;
  }
}

#UsernameMsg, #LoginUsernameMsg, #RecipeTitleMsg, #UserRecipeTitleMsg{
  .Msg();
  
  .container.body-content{
    .Msg();
  }
}

.Forms{
  width: 100%;
  margin: 0px auto;
  padding: 10px;
  background-color: rgba(5, 5, 5, 0.966);
  border-radius: 4px;
}

.FormSection, .MiddleFormSection{
  display: inline-block;
  min-width: 31%;
  max-width: 100%;
  vertical-align: top;
  margin: 5px 0.5%;
  text-align: center;
  background-color: rgba(25, 25, 25, 0.95);
  border-radius: 4px;
  
  input, span{
    width: 90%;
    margin: 5px auto;
  }

  textarea:extend(.FormSection input){
    resize: vertical;
  }
}

.RecipeStatsTable{
  width: 100%;
  border-top: @text-color 1px solid;
  border-bottom: @text-color 1px solid;
  margin: 10px auto;
  
  thead tr td{
    max-width: 33%;
    text-align: center;
    margin: 10px auto;
    padding: 10px;
    vertical-align: middle;
  }
  
  tbody tr td:extend(.RecipeStatsTable thead tr td){
    padding-top: 0px;
  }
}

.LikeBtn{
  vertical-align: top;
}

.PostAComment textarea{
  max-width: 80;
  min-width: 60%;
  resize: vertical;
}

.PostAComment input{
  vertical-align: text-bottom;
}

.Comments{
  margin: 10px auto;
}

.Comment{
  border: @text-color 1px solid;
  margin: 10px auto;
  
  p{
    padding-left: 20px; 
  }
}

  .CommentCreatedAt{
      padding-right: 20px;
      text-align: right;
  }

#IngredientFourShow,#IngredientFiveShow,#IngredientSixShow,#IngredientSevenShow,#IngredientEightShow,#IngredientNineShow,#IngredientTenShow,#IngredientElevenShow,#IngredientTwelveShow,#IngredientThirteenShow,#IngredientFourteenShow,#IngredientFifteenShow{
  display: none;
}