body {
  background-image: url('../images/FoodBG.png');
  width: 100%;
  height: 100%;
  color: #0DBD00;
  font-family: "Quicksand";
  padding-bottom: 10px;
}
a {
  color: #00EEFB;
}
a:focus {
  border: 1px #00EEFB dotted;
}
.container.body-content {
  padding: 0px 5px;
  min-width: 80%;
}
.carousel-caption p {
  font-size: 20px;
  line-height: 1.4;
}
.carousel-inner .item img[src$=".svg"] {
  width: 100%;
}
#qrCode {
  margin: 15px;
}
@media screen and (max-width: 767px) {
  .carousel-caption {
    display: none;
  }
}
input,
.btn.btn-primary {
  color: black;
  max-width: 90%;
}
input:focus,
.btn.btn-primary:focus {
  border: 1px #00EEFB dotted;
}
select,
input[type="submit"],
button,
.btn.btn-primary {
  background-color: rgba(55, 55, 55, 0.95);
  border-color: rgba(75, 75, 75, 0.95);
  color: #00EEFB;
  height: 2em;
  padding: 0.25em 1em;
  margin: auto;
  vertical-align: top;
}
select:focus,
input[type="submit"]:focus,
button:focus,
.btn.btn-primary:focus {
  border: 1px #00EEFB dotted;
}
input[type="File"] {
  color: #00EEFB;
}
#UploadPicture {
  max-width: 75%;
  margin: 0px auto;
  padding: 0px;
}
textarea {
  color: black;
}
.field-validation-error {
  color: red;
  width: 90%;
  display: inline-block;
  padding: 0px;
}
.success {
  display: inline-block;
  margin: 0px auto;
  color: lightgreen;
}
h1,
h2,
h3,
h4,
h5,
.AdminNote {
  text-align: center;
  margin: 0px auto;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
.AdminNote a {
  text-align: center;
}
h2 {
  padding: 5px auto;
  margin: 0px auto 5px auto;
}
h4 {
  margin: 5px auto;
  padding: 5px;
}
p {
  margin: 0px;
}
.Header {
  background-color: #0F0F0F;
  border-radius: 4px;
  width: 100%;
  min-height: 5%;
  margin: 10px auto;
}
.HeaderLinks {
  display: inline-block;
  margin: 0px auto;
  text-align: right;
  width: 100%;
  padding-right: 30px;
}
.HeaderLinks a,
.HeaderLinks p {
  display: inline;
  text-align: right;
}
#Sorting {
  width: 100%;
  margin: -15px auto 0px auto;
  padding-top: -5px;
}
#Sorting .container.body-content {
  width: 100%;
  height: 5vh;
  margin: auto;
  padding: 0px;
}
#Sorting h3 {
  padding-top: 5px;
  margin: 5px;
}
.SortingTbl {
  width: 100%;
  max-height: 2vh;
  margin: 0px auto;
  padding: 0px;
}
.SortingBtn {
  width: 33%;
  max-height: 2vh;
  margin: -5px auto;
  padding: -5px 0px;
  border: 1px solid #0DBD00;
  border-top: 0px;
  text-align: center;
}
.RecipeList {
  width: 95%;
  margin: 5px auto;
  border: 1px solid black;
  background-color: #0F0F0F;
  border-radius: 4px;
  padding: 10px 0px;
}
.RecipeListPictureBackground {
  text-align: center;
  max-width: 95%;
  min-height: 40vh;
  max-height: 70vh;
  margin: 10px auto;
}
.RecipeListPicture {
  text-align: center;
  max-width: 95%;
  min-width: 40%;
  min-height: 40vh;
  margin: 10px auto;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.Content {
  margin: 15px auto;
  background-color: #0F0F0F;
  color: #0DBD00;
  border: 1px solid black;
  border-radius: 4px;
  padding: 10px;
}
.Rating,
.Likes,
.PostDate,
.RatingForm,
.LikeBtn,
.Delete,
.Update {
  margin: 5px auto;
}
.Recipe {
  width: 95%;
  margin: 5px auto;
  padding: 0px 20px;
  border: 1px solid black;
  border-radius: 4px;
  background-color: #0F0F0F;
}
.UserList {
  margin: 0px auto;
  width: 90%;
}
.UserList td {
  border: solid 1px black;
  width: 50%;
  text-align: center;
  background-color: #0F0F0F;
}
.AdminActions p {
  display: inline;
}
.LoginSection {
  display: inline-block;
  margin: 0px auto;
  width: 100%;
  text-align: center;
}
.LoginSection form {
  background-color: rgba(8, 8, 8, 0.966);
  width: 40%;
  margin: 5px auto;
  border-radius: 4px;
}
#UsernameMsg,
#LoginUsernameMsg,
#RecipeTitleMsg,
#UserRecipeTitleMsg {
  max-width: 70%;
  padding: 0px;
  display: inline-block;
  margin: 0px auto;
}
#UsernameMsg .container.body-content,
#LoginUsernameMsg .container.body-content,
#RecipeTitleMsg .container.body-content,
#UserRecipeTitleMsg .container.body-content {
  max-width: 70%;
  padding: 0px;
  display: inline-block;
  margin: 0px auto;
}
.Forms {
  width: 100%;
  margin: 0px auto;
  padding: 10px;
  background-color: rgba(5, 5, 5, 0.966);
  border-radius: 4px;
}
.FormSection,
.MiddleFormSection {
  display: inline-block;
  min-width: 31%;
  max-width: 100%;
  vertical-align: top;
  margin: 5px 0.5%;
  text-align: center;
  background-color: rgba(25, 25, 25, 0.95);
  border-radius: 4px;
}
.FormSection input,
.MiddleFormSection input,
.FormSection span,
.MiddleFormSection span,
.FormSection textarea,
.MiddleFormSection textarea {
  width: 90%;
  margin: 5px auto;
}
.FormSection textarea,
.MiddleFormSection textarea {
  resize: vertical;
}
.RecipeStatsTable {
  width: 100%;
  border-top: #0DBD00 1px solid;
  border-bottom: #0DBD00 1px solid;
  margin: 10px auto;
}
.RecipeStatsTable thead tr td,
.RecipeStatsTable tbody tr td {
  max-width: 33%;
  text-align: center;
  margin: 10px auto;
  padding: 10px;
  vertical-align: middle;
}
.RecipeStatsTable tbody tr td {
  padding-top: 0px;
}
.LikeBtn {
  vertical-align: top;
}
.PostAComment textarea {
  max-width: 80;
  min-width: 60%;
  resize: vertical;
}
.PostAComment input {
  vertical-align: text-bottom;
}
.Comments {
  margin: 10px auto;
}
.Comment {
  border: #0DBD00 1px solid;
  margin: 10px auto;
}
.Comment p {
  padding-left: 20px;
}
.CommentCreatedAt {
  padding-right: 20px;
  text-align: right;
}
#IngredientFourShow,
#IngredientFiveShow,
#IngredientSixShow,
#IngredientSevenShow,
#IngredientEightShow,
#IngredientNineShow,
#IngredientTenShow,
#IngredientElevenShow,
#IngredientTwelveShow,
#IngredientThirteenShow,
#IngredientFourteenShow,
#IngredientFifteenShow {
  display: none;
}
/*# sourceMappingURL=./site.css.map */