body {
    padding-top: 10px;
    padding-bottom: 10px;
}

.container.body-content{
    padding: 0px 5px;
}

.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

#qrCode {
    margin: 15px;
}

@media screen and (max-width: 767px) {
    .carousel-caption {
        display: none;
    }
}

body{
    background-image: url('../images/FoodBG.png');
    width: 100%;
    height: 100%;
    color: rgb(10, 100, 0);
}

input{
    color: black;
    max-width: 90%;
}

    input[type="File"]{
        color: rgb(10, 100, 0);
    }

textarea{
    color: black;
}

.error{
    color: red;
}

.success{
    color: lightgreen;
    width: 100%;
    margin: 0px auto;
    display: inline-block;
}

h1{
    text-align: center;
    padding-top: 5px;
}

h2{
    text-align: center;
}

h3{
    text-align: center;
}

    h3 a{
        text-align: center;
    }

h4{
    text-align: center;
    margin: 5px auto;
    padding: 5px;
}

h5{
    text-align: center;
}

.Header{
    background-color: rgba(17, 17, 17, 0.95);
    border-radius: 4px;
    width: 100%;
    
}

    .Header h1{
        margin: 0px auto;
    }

    .Header h5{
        margin: 0px auto;
    }

.HeaderLinks{
    display: inline-block;
    text-align: right;
    width: 100%;
    margin: 0px auto;
    padding-right: 30px;
}
    
    .HeaderLinks a{
        display: inline;
        text-align: right;
    }

    .HeaderLinks p{
        display: inline;
        text-align: right;
    }

#Sorting{
    width: 100%;
    margin: -15px auto 0px auto;
    padding-top: -5px;
}

    #Sorting .container.body-content{
        width: 100%;
        height: 5vh;
        margin: auto;
        padding: 0px;
    }

    #Sorting h3{
        padding-top: 5px;
        margin: 5px;
    }

    .SortingTbl{
        width: 100%;
        max-height: 2vh;
        margin: 0px auto;
        padding: 0px;
    }    

    .SortingThead{
        width: 100%;
        max-height: 2vh;
        margin: 0px auto;
        padding: 0px;
    }

    .SortingTR{
        width: 100%;
        max-height: 2vh;
        margin: 0px auto;
        padding: 0px;
    }

.SortingBtn{
    width: 33%;
    max-height: 2vh;
    margin: -5px auto;
    padding: -5px 0px;
    border: 1px solid black;
    text-align: center;
}

.RecipeList{
    width: 95%;
    margin: 5px auto;
    border: 1px solid black;
    background-color: rgba(17, 17, 17, 0.95);
    border-radius: 4px;
    padding: 10px 0px;
}

.RecipeListPictureBackground{
    text-align: center;
    max-width: 95%;
    min-height: 40vh;
    max-height: 70vh;
    margin: 10px auto;
}

.RecipeListPicture{
    text-align: center;
    max-width: 95%;
    min-width: 40%;
    min-height: 40vh;
    margin: 0px auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    
}

.Recipe{
    width: 95%;
    margin: 5px auto;
    padding: 0px 20px;
    border: 1px solid black;
    border-radius: 4px;
    background-color: rgba(17, 17, 17, 0.95);
}


.UserList{
    margin: 0px auto;
    width: 90%;
}

    .UserList td{
        border: solid 1px black;
        width: 50%;
        text-align: center;
        background-color: rgba(17, 17, 17, 0.95); 
    }

.AdminActions p{
    display: inline;
}

.LoginSection{
    display: inline-block;
    width: 100%;
    text-align: center;
}

    .LoginSection form{
        background-color: rgba(8, 8, 8, 0.966);
        width: 40%;
        margin: 5px auto;
        border-radius: 4px;
    }

#UsernameMsg{
    width: 100%;
    margin: 0px auto;
    display: inline-block;
}

    #UsernameMsg .container.body-content{
        width: 100%;
        margin: 0px auto;
        padding: 0px;
        display: inline-block;
    }

#LoginUsernameMsg{
    width: 100%;
    margin: 0px auto;
    display: inline-block;
}

    #LoginUsernameMsg .container.body-content{
        width: 100%;
        margin: 0px auto;
        padding: 0px;
        display: inline-block;
    }

#RecipeTitleMsg{
    width: 100%;
    margin: 0px auto;
    display: inline-block;
}

    #RecipeTitleMsg .container.body-content{
        width: 100%;
        margin: 0px auto;
        padding: 0px;
        display: inline-block;
    }

#UserRecipeTitleMsg{
    width: 100%;
    margin: 0px auto;
    display: inline-block;
}

    #UserRecipeTitleMsg .container.body-content{
        width: 100%;
        margin: 0px auto;
        padding: 0px;
        display: inline-block;
    }

.FormSection{
    display: inline-block;
    min-width: 32%;
    vertical-align: top;
    margin: 5px auto;
    text-align: center;
    padding: 10px;
    background-color: rgba(17, 17, 17, 0.95);
    border-radius: 4px;
}

    .FormSection textarea{
        width: 90%;
        resize: vertical;
        margin: 5px auto;
    }

    .FormSection input{
        width: 90%;
        margin: 5px auto;
    }

.MiddleFormSection{
    display: inline-block;
    min-width: 35%;
    vertical-align: top;
    margin: 5px auto;
    text-align: center;
    padding: 5px;
    background-color: rgba(17, 17, 17, 0.95);
    border-radius: 4px;
}

.RecipeStatsTable{
    width: 100%;
    border-top: rgb(10, 100, 0) 1px solid;
    border-bottom: rgb(10, 100, 0) 1px solid;

}

    .RecipeStatsTable thead tr td{
        max-width: 33%;
        text-align: center;
        margin: 10px auto;
        vertical-align: top;
    }

    .RecipeStatsTable tbody tr td{
        width: 33%;
        text-align: center;
        margin: 10px auto;
        padding: 10px;
        vertical-align: top;
    }

.LikeBtn{
    vertical-align: top;
}

.PostAComment textarea{
    max-width: 80;
    min-width: 60%;
    resize: vertical;
}

.PostAComment input{
    vertical-align: text-bottom;
}

.Comments{
    margin: 10px auto;
}

.Comment{
    border: rgb(10, 100, 0) 1px solid;
    margin: 10px auto;
}

    .Comment p{
        padding-left: 20px; 
    }

    .CommentCreatedAt{
        padding-right: 20px;
        text-align: right;
    }
