@model FoodForum.Models.Like

@if(ViewBag.Liked){
  <form asp-action="UnLikeRecipe" asp-controller="Recipes" asp-route-RecipeId="@ViewBag.Recipe.RecipeId" method="post" class="LikeBtn">
    <input type="submit" value="UnLike">
  </form>
} else{
  <form asp-action="LikeRecipe" asp-controller="Recipes" asp-route-RecipeId="@ViewBag.Recipe.RecipeId" method="post" class="LikeBtn">
      <input type="submit" value="Like">
    </form>
}