@model FoodForum.Models.Comment

<form asp-action="CommentOnRecipe" asp-controller="Recipes" asp-route-RecipeId="@ViewBag.Recipe.RecipeId" method="post">
  <textarea asp-for="Content" required></textarea>
  <input type="submit" value="Comment">
</form>