@model FoodForum.Models.Like

@if(ViewBag.Liked){
  <form asp-action="UnLikeRecipe" asp-controller="Recipe" method="get" class="LikeBtn">
    <input asp-for="RecipeId" value="@ViewBag.Like.LikeId" readonly hidden required>
    <input type="submit" value="UnLike">
  </form>
} else{
  <form asp-action="LikeRecipe" asp-controller="Recipe" method="get" class="LikeBtn">
      <input asp-for="RecipeId" value="@ViewBag.Recipe.RecipeId" readonly hidden required><br>
      <input type="submit" value="Like">
    </form>
}